/*loading-color: #a2a9a8*/

.job-board-container {
    height: 100%;
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.job-board-header {
    height: 8rem;
    max-height: 100px;
    width: 100%;
    border-bottom: 1px solid #838383;
    z-index: 200;
}

.job-board-header>div {
    margin: auto;
    height: 100%;
    text-align: left;
    display: flex;
}

.job-board-header img {
    height: 100%;
    display: inline-block;
    cursor: pointer;
    border: 4px solid #00000000;
    border-right: none;
    margin-left: auto;
    position: relative;
    top: 0px;
    transition: border-color 1s, top 1s, background-color 2s;
}

.job-board-header-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    cursor: pointer;
    border: 4px solid #00000000;
    border-left-width: 0px;
    margin-right: auto;
    position: relative;
    top: 0px;
    transition: border-color 1s, top 1s, background-color 2s;
}

.job-board-header-text>* {
    margin: auto;
}

.job-board-content {
    flex: 1;
    margin-bottom: 10px;
    margin-top: 30px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.job-board-sub-container {
    opacity: 1;
    transition: opacity 1.5s;
}

.jobs-list-item {
    display: flex;
    transition: border-left-color 1.5s;
    flex-direction: row;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}

.jobs-bg-clicked {
    background-color: #e9e9e9;
}

.jobs-list-item>.jobs-list-item-primary {
    flex: 1;
    padding-left: 30px;
}

.jobs-list-item>.jobs-list-item-primary+div {
    padding-right: 10px;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jobs-list-item .job-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid #333333;
    animation: fadeIn 1.0s ease-in;
}

.jobs-list-item .title {
    display: block;
    font-size: 1.25em;
    font-weight: bold;
    transition: opacity 1s;
    opacity: 100%;
}

.jobs-list-item {
    color: #212529;
    transition: color 1.0s;
}

.jobs-list-item .sub-data {
    display: block;
    font-size: 1em;
    color: #545454;
    transition: color 1.0s;
}

.jobs-list-item button {
    animation: fadeIn 1.0s ease-in;
}

.jobs-list-item.loading {
    color: #21252900;
}

.jobs-list-item.loading .sub-data {
    color: #54545400;
}

.jobs-list-item.loading .job-img {
    background-color: #a2a9a8;
    border: none;
    animation: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%
    }
}

.jobs-list-item.loading .jobs-list-item-primary>span {
    padding-left: 10px;
    padding-right: 30px;
}

.jobs-list-item.loading .jobs-list-item-primary>span>span {
    background-color: #a2a9a8;
    border: none;
    border-radius: 15px;
    display: inline-block;
    width: 100%;
    font-size: .8rem;
}

.jobs-list-item.loading .jobs-list-item-primary>span.sub-data>span {
    background-color: #a2a9a8;
    border: none;
    border-radius: 15px;
    display: inline-block;
    width: 100%;
    font-size: .6rem;
}

.loading {
    opacity: 70%;
}

.job-board-container .loading-indicator {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.job-board-container .loading-indicator>div {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #ffffff00, #ffffff77, #ffffff00);
    top: 0px;
    animation: subLoading 3s infinite;
}

.job-board-container .loading-indicator>div.delay-1 {
    animation-delay: .25s;
}

.job-board-container .loading-indicator>div.delay-2 {
    animation-delay: .5s;
}

.job-board-container .loading-indicator>div.delay-3 {
    animation-delay: .75s;
}

.job-board-container .loading-indicator>div.delay-4 {
    animation-delay: 1s;
}

.job-board-container .loading-indicator>div.delay-5 {
    animation-delay: 1.25s;
}

.job-board-container .loading-indicator>div.delay-6 {
    animation-delay: 1.5s;
}

.job-board-container .loading-indicator>div.delay-7 {
    animation-delay: 1.75s;
}

.job-board-container .loading-indicator>div.delay-8 {
    animation-delay: 2s;
}

.job-board-container .loading-indicator>div.delay-9 {
    animation-delay: 2.25s;
}

.job-board-container .loading-indicator>div.delay-10 {
    animation-delay: 2.5s;
}

.job-board-container .loading-indicator>div.delay-11 {
    animation-delay: 2.75s;
}

@keyframes subLoading {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

.jobs-list-item.loading button {
    background-color: #a2a9a8;
    border: none;
    box-shadow: none !important;
    animation: none;
    color: #00000000;
}

.job-board-details-content {
    position: absolute;
    width: 20vw;
    min-height: 400px;
}

.job-board-details-content.empty {
    height: 40vh;
}

.job-board-details-content>div {
    margin-right: 10px;
    height: 100%;
}

.job-board-details-content button {
    width: 50%;
    margin: auto;
}

.job-board-details-content .card-body {
    overflow-y: auto;
}

.job-board-search-content {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    width: 80vw;
    height: auto;
    z-index: 1;
}

.job-board-search-content>* {
    width: 100%;
    height: 100%;
}

.job-board-search-content input {
    position: relative;
    width: 100%;
    left: 20px;
    /*re-center by offsetting by the size of the icon*/
    padding-left: 40px;
    font-size: 1.1rem;
}

.search-icon {
    font-size: 20px;
    z-index: 1;
    position: relative;
    left: 50px;
    margin-left: -50px;
    /*move inside searchbar*/
}

.job-board-search-content .search-info>div {
    font-size: .8rem;
    color: #545454;
    pointer-events: none
}

#job-board-category-dropdown {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #444444;
}

#job-board-tag-dropdown {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #444444;
}

#job-board-search-container .dropdown-toggle {
    background-color: transparent;
    color: #111111;
    border: none;
    box-shadow: none;
    font-size: 1.0rem;
    width: 85%;
    text-align: left;
    margin-left: -1rem;
}

#job-board-search-container .dropdown-menu {
    width: 100%;
}

#job-board-search-container .dropdown-toggle::after {
    display: none;
}

.job-board-search-selections {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    margin-top: 5px;
}

.job-board-search-selections svg {
    cursor: pointer;
}

.job-board-search-selections .content {
    padding-left: 5px;
}


/*
* Displaying Job Application Screen CSS
*/

.application-ready .job-selected .job-board-sub-container {
    opacity: 0%;
    transition: opacity 1.5s;
}

.application-ready .job-board-header.job-selected>div>img {
    border-color: black;
    transition: border-color 1s, top 1s, background-color .4s;
    top: 50%;
    background-color: white;
}

.application-ready .job-board-header.job-selected>div>div {
    border-color: black;
    transition: border-color 1s, top 1s, background-color .4s;
    top: 50%;
    background-color: white;
}

@media (max-width: 991px) {
    .job-selected .job-board-sub-container {
        opacity: 0%;
        transition: opacity 1.5s;
    }
    .job-board-header.job-selected>div>img {
        border-color: black;
        transition: border-color 1s, top 1s, background-color .4s;
        top: 50%;
        background-color: white;
    }
    .job-board-header.job-selected>div>div {
        border-color: black;
        transition: border-color 1s, top 1s, background-color .4s;
        top: 50%;
        background-color: white;
    }
}


/*
* Other media queries
*/

@media (min-width: 576px) and (max-width: 991px) {
    .d-sm-inline {
        display: inline-block !important;
    }
    .job-board-search-content input {
        padding-right: 6rem;
    }
}

@media (min-width: 992px) {
    .d-lg-inline {
        display: inline-block !important;
        /*yes we all hate important!, but this is to overwrite an important bootstrap put in there. Whatcha gonna do, fisty-cuff with bootstrap?*/
    }
    .job-board-search-container .job-board-search-content {
        height: 70vh;
        width: 20vw;
        /*Column is setup with bootstrap to take up 25% of width, inside of a container that takes up 80% screen width. 80 * 0.25=20*/
    }
}

@media (max-width: 575px) {
    .job-board-container .job-board-header {
        height: 2rem;
        border: none;
    }
    .job-board-container .job-board-header>div {
        padding-left: 0px;
    }
    .job-board-container .job-board-header img {
        display: none;
    }
    .job-board-container .job-board-header h1 {
        font-size: 1.5rem;
    }
    .job-board-container .job-board-header .job-board-header-text {
        margin: auto;
        padding: 0px;
        border-left-width: 4px;
        border-left-style: solid;
    }
    .job-board-container .job-board-content {
        margin-top: 0px;
    }
}

@media (max-width: 991px) {
    .jobs-list-container {
        margin-top: 9rem;
        /*Space for search bar.*/
    }
    .job-board-content::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .job-board-content {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    #job-board-search-container #job-board-category-dropdown {
        margin-top: 0px;
        padding-bottom: 0px;
        border-bottom: 0px;
    }
    #job-board-search-container #job-board-tag-dropdown {
        margin-top: 0px;
        padding-bottom: 0px;
        border-bottom: 0px;
        position: relative;
    }
    .job-board-search-content .search-info {
        padding: 0px;
        height: 1px;
        width: 85%;
        text-align: right;
        margin: auto;
        position: relative;
        top: -1.1rem;
        /*move up by the size of the searchbar to appear inside*/
        pointer-events: none
    }
    .job-board-search-content .search-info>div {
        margin-top: -1px;
        /*offset the default padding used by an input component */
        position: relative;
        top: -.4rem;
        /* move search info up by half the fontsize to center*/
        padding-right: 10px;
    }
}