.job-application-container {
    opacity: 0;
    transition: opacity 1.5s;
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 12rem;
    padding-bottom: 2rem;
    overflow-y: auto;
    background-color: white;
    /*The header is 8 rem, and it's offset by 4rem. Should probably just install sass at this point... */
    pointer-events: none;
}

.job-application-header {
    width: 50%;
    padding: 10px;
    border-bottom: 4px solid #5f5f5f;
    padding-bottom: 2rem;
}

@media(max-width: 991px) {
    .job-application-container .job-application-header {
        width: 100%;
    }
}

.job-application-header h2 {
    font-size: 1.7rem;
}

.job-application-container h3 {
    font-size: 1.3rem;
    color: #464545;
}

.job-application-sub-data {
    color: #575757;
    font-size: 1rem;
}

.job-application-description {
    padding-top: 2rem;
    color: #494949;
    font-size: 1.2rem;
}

.loading-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: -4rem;
}

.job-application-footer {
    width: 100%;
    display: flex
}

.job-application-footer>button {
    margin: auto;
    font-size: 1.5rem;
    min-width: 30%;
}

.job-application-back-button {
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.job-application-logo {
    float: right;
    height: 15vh;
    width: 15vh;
}

.job-application-logo img {
    height: 100%;
    border-radius: 50%;
    border: 2px solid #333333;
}

.job-application-content {
    max-width: 1100px;
    margin: auto;
    overflow-y: auto;
    height: 100%;
}


/*
* Displaying job application screen CSS
*/

.application-ready .job-selected .job-application-container {
    opacity: 1;
    transition: opacity 1.5s;
    z-index: 100;
    pointer-events: visible;
}

@media (max-width: 991px) {
    .job-selected .job-application-container {
        opacity: 1;
        transition: opacity 1.5s;
        z-index: 100;
        pointer-events: visible;
    }
}

@media (max-width: 575px) {
    .job-board-content .job-application-container {
        padding-top: 5rem;
    }
}